---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install prerequisites
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present

- name: Install Docker
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: yes

- name: Start Docker service
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Add tagomori to docker group
  user:
    name: tagomori
    groups: docker
    append: yes

- name: Create working directories
  file:
    path: "{{ item }}"
    state: directory
    owner: tagomori
    group: tagomori
    mode: '0755'
  loop:
    - /home/tagomori/actions-runner
    - /home/tagomori/Tagomori_Minecraft

- name: Set vm.max_map_count
  sysctl:
    name: vm.max_map_count
    value: '262144'
    state: present
    reload: yes
